<div class="page">
  <nav>
    <img src="/assets/logo.png" class="logo">
    <ul>
      <li><a href="">HOME</a></li>
      <li><a href="">RANKING</a></li>
    </ul>
  </nav>
  <div class="info">
    <h1>Welcome on <br><span>Premier League Ranking</span> page</h1>
    <p>This is website to show actuall table of the current season.</p>
  </div>
  <div class="img-box">
    <img src="/assets/salah.png" class="back-img">
    <img src="/assets/football.png" class="front-img">
  </div>
  <footer>

  </footer>
</div>
