<div class="ranking">
  <h1>{{allData$.name}}</h1>
  Season: {{allData$.seasonDisplay}}
  <nav class="navbar">
    <input type="text" class="form-control" placeholder="Search here (team name)" [(ngModel)]="term">
  </nav>
  <div class="table-responsive col-lg-12">
    <table class="table table-light table-striped table-hover table-borderless">
      <thead class="table-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">logo</th>
          <th scope="col">short</th>
          <th scope="col">name</th>
          <th scope="col">wins</th>
          <th scope="col">ties</th>
          <th scope="col">losses</th>
          <th scope="col">goals for</th>
          <th scope="col">goals against</th>
          <th scope="col">points</th>
          <th scope="col">difference</th>
        </tr>
      </thead>
      <tr *ngFor="let standing of allData$.standings | filter:term; let i = index; let odd = odd" [ngClass]="{'odd-tr': odd===true}">
        <td>{{i+1}}</td>
        <td><img [src]="standing.team.logos[0].href" height=50></td>
        <td>{{standing.team.abbreviation}}</td>
        <td>{{standing.team.displayName}}</td>
        <ng-container id="stat" *ngFor="let stat of standing.stats">
          <td *ngIf="stat.name=='wins'">{{stat.displayValue}}</td>
          <td *ngIf="stat.name=='ties'">{{stat.displayValue}}</td>
          <td *ngIf="stat.name=='losses'">{{stat.displayValue}}</td>
          <td *ngIf="stat.name=='pointsFor'">{{stat.displayValue}}</td>
          <td *ngIf="stat.name=='pointsAgainst'">{{stat.displayValue}}</td>
          <td *ngIf="stat.name=='pointDifferential'">{{stat.displayValue}}</td>
          <td *ngIf="stat.name=='points'"><strong>{{stat.displayValue}}</strong></td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>
